@media only screen and (min-width:1px) {
    body {
        background-color: #e60000;

    }
    #medium{

      display: flex;
      flex-direction: column;

    }
    #large{
      display: flex;
      flex-direction: column;
    }
    #small{
      display: flex;
      flex-direction: column;
    }
    h1{
      font-size: 10px;
    }
    p{
      font-size: 5px;
    }

}
@media only screen and (min-width: 300px){
    body {
        background-color: green;
    }
    #medium{
      display: flex;
      flex-direction: column;
      width:33%;
    }
    #large{
      display: flex;
      flex-direction: column;
      width:100%;
    }
    #small{
      display: flex;
      flex-direction: column;
      width:67%;
    }
    h1{
      font-size: 25px;
    }
    p{
      font-size: 15px;
    }

}

@media only screen and (min-width:768px) {
    body {
        background-color: blue;
    }
    #medium{
display:inline-block;
      width :25%;
    }
    #large{
display: inline-block;
      width:25%;
    }
    #small{
display: inline-block;
      width:25%;
    }
    h1{
      font-size: 45px;
    }
    p{
      font-size:25px;
    }

}
